section.about#informacje
	.flex.flex--center
		.column-1
			p.about_text Alternatywny fast food w Legnicy. Kanapki mięsne i wegetariańskie. Codziennie zupa dnia. Jedyna w mieście kawa z dolewką!

		.column-1
			.picture
