section.carousel#oferta
	
	ul.offers
		li.offer#buly.overlay.red(style="background-image: url(/assets/img/bula.jpg)")
			p.title Buły	
		li.offer#salatki.overlay.blue(style="background-image: url(/assets/img/salatka.jpg)")
			p.title Sałatki
		li.offer#zapiekanki.overlay.green(style="background-image: url(/assets/img/zapiekanka.jpg)")
			p.title Zapiekanki
		li.offer#napoje.overlay.purple(style="background-image: url(/assets/img/coffe.jpg)")
			p.title Napoje

	section.menu
		.list.bula_menu
			.col-2
				h2 Buły dnia
				//h4.price (Każda buła 13 ,–)
				ul
					li.product
						h4 Poniedziałek
						h3 Bigoska
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h4 Poniedziałek
						h3 Bigoska
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h4 Poniedziałek
						h3 Bigoska
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h4 Poniedziałek
						h3 Bigoska
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h4 Poniedziałek
						h3 Bigoska
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h4 Poniedziałek
						h3 Bigoska
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy

			.col-2
				h2 Buły
				ul
					li.product
						h3 Nazwa
						h5.small Składniki

		.list.salatki_menu
			.col-1
				h2 Sałatki
				h4.price (Każda salatka 10 zł)
				ul
					li.product
						h3 Kurczak
					li.product
						h3 Tuńczyk
					li.product
						h3 Feta

		.list.zapiekanki_menu
			.col-1
				h2 Zapiekanki
				h4.price (Każda zapiekanka 7 zł)
				ul
					li.product
						h3 Salamandra
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h3 Kurczaczek
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h3 Szynkowa
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy
					li.product
						h3 Oscypka
						h5.small bigos, ser, papryczka chilli, pikle, sos paprykowy

		.list.napoje_menu
			.col-1
				h2 Napoje
				ul
					li.product
						h3 Kawa czarna - 5zł
					li.product
						h3 Kawa z mlekiem - 7zł
					li.product
						h3 Kompot - 2zł
					li.product
						h3 Cola, Fanta, Sprite 5zł
						h5.small (0.5L)


