section.carousel#oferta
	
	ul.offers
		li.offer#buly.overlay.red(style="background-image: url(/assets/img/bula.jpg)")
			p.title Buły	
		li.offer#salatki.overlay.blue(style="background-image: url(/assets/img/salatka.jpg)")
			p.title Sałatki
		li.offer#zapiekanki.overlay.green(style="background-image: url(/assets/img/zapiekanka.jpg)")
			p.title Zapiekanki
		li.offer#napoje.overlay.purple(style="background-image: url(/assets/img/coffe.jpg)")
			p.title Napoje
			
	section.menu
		.list.bula_menu
			.col-2
				h2 Buły dnia
				//h4.price (Każda buła 13 ,–)
				ul 
					{% for buly in site.data.buly %}
					li.product
						h4 Poniedziałek
						h3 {{ buly.name }}
						h5.small {{ buly.ing }}
					{% endfor %}
					
			.col-2
				h2 Buły
				ul
					li.product
						h3 Nazwa
						h5.small Składniki

		.list.salatki_menu
			.col-1
				h2 Sałatki
				h4.price (Każda salatka 10 zł)
				ul
					{% for salatka in site.data.salatki %}
					li.product
						h3 {{ salatka.name }}
					{% endfor %}

		.list.zapiekanki_menu
			.col-1
				h2 Zapiekanki
				h4.price (Każda zapiekanka 7 zł)
				ul
					{% for zapiekanka in site.data.zapiekanki %}
					li.product
						h3 {{zapiekanka.name}}
						h5.small {{zapiekanka.ing}}
					{% endfor %}

		.list.napoje_menu
			.col-1
				h2 Napoje
				ul
					{% for napoj in site.data.napoje %}
					li.product
						h3 {{ napoj.name }} - {{ napoj.price }}
					{% endfor %}
