section.header
	ul.nav
		li: a(href="#oferta").list Oferta
		li: a(href="#informacje").list O nas
		li.logo 
			img.logo(src="/assets/img/bula_logo.svg")
		li: a(href="#mapa").list Mapa
		li: a(href="#newsletter").list Newsletter
