section.news#newsletter
	.flex.flex--center
		h2.lead Zapisz się do naszego newslettera!
		h4 Dowiesz się o naszych nowych produktach i promocjach

		.mail-box
			input(placeholder="Wpisz swój adres email").mail
			button Zapisz się!