section.about
	margin-top: 100px

	.picture
		background:
			image: url(../img/bula_outside.jpg)
			position: center top
			size: auto 160%
			repeat: no-repeat
		+size(30vw)
		border-radius: 50%
		
		// position: relative
		// box-shadow: 0px 2px 4px #999
		// border-radius: 50%
		// +size(25vw)
		// overflow: hidden
		//
		// &:after
		// 	content: ""
		// 	position: absolute
		// 	+size(100%)
		// 	top: -50%
		// 	z-index: -1
		// 	background:
		// 		image: url(../img/bula_outside.jpg)
		// 		// position: center top
		// 		size: auto 150%
		// 	transform: translateY(100px)
		// 	//border-radius: 50%

	.about_text
		font-size: 1.8em
		font-weight: 300
		line-height: 1.5em
